@tailwind base;
@tailwind components;
@tailwind utilities;

.geist-font {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --background: #f9fafb;
    --foreground: #242126;
    --my-white: #fafafa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #242126;
        --foreground: #C4C5C9;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "geist", Arial, sans-serif;
}