@tailwind base;
@tailwind components;
@tailwind utilities;

.geist-font {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: #f9fafb;
    --foreground: #242126;
    --my-white: #fafafa;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #242126;
        --foreground: #C4C5C9;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "geist", Arial, sans-serif;
}

/* Gradientes de fondo + borde */
.bg-legendary {
    @apply bg-gradient-to-r from-yellow-200 via-yellow-100 to-yellow-300 dark:from-yellow-700 dark:via-yellow-800 dark:to-yellow-600 border border-yellow-400 dark:border-yellow-600;
}

.bg-mythical {
    @apply bg-gradient-to-r from-gray-200 via-white to-gray-300 dark:from-slate-600 dark:via-slate-700 dark:to-slate-500 border border-gray-400 dark:border-gray-500;
}


/* Glows */
.glow-legendary {
    animation: glow-yellow 2.5s infinite ease-in-out;
}

.glow-mythical {
    animation: glow-silver 2.5s infinite ease-in-out;
}

@layer utilities {
    .glow-blue {
        box-shadow:
            0 0 8px 2px rgba(255, 255, 255, 0.2),
            0 0 20px 4px rgba(59, 130, 246, 0.4);
    }

    .animate-pulse-blue {
        animation: pulse-blue 2s ease-in-out infinite alternate;
    }

    .animate-led-onoff {
        animation: led-onoff 1.5s steps(1, start) infinite;
    }

    @keyframes pulse-blue {
        0% {
            filter: brightness(0.8);
            transform: scale(0.98);
        }

        100% {
            filter: brightness(1.4);
            transform: scale(1.02);
        }
    }

    @keyframes led-onoff {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
